.card-container {
  border: 1px solid black;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.7);
  border-radius: 5px;

  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 2rem;

  p {
    font-size: 2rem;
  }

  button {
    align-self: flex-start;
  }
}

.green-border {
  border: rgba(50, 205, 50, 0.7);
  box-shadow: 0 0 5px 0 rgba(50, 205, 50, 0.7);
}